<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>可可门 - 必胜客</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/frame.css" />
</head>

<body style="background:none;">
<div class="frame frame_shop">
	<div class="frame_l">
		<div class="tab">
			<ul>
				<li class="cur"><a href="#">商家信息</a></li>
				<li><a href="#">店家环境</a></li>
				<li><a href="#">商家简介</a></li>
			</ul>
		</div>
		
		<div class="shop_general">
			<img src="images/shop_bsk2.jpg" title="" alt="" />
			<h2>必胜客钟家村店（认证）</h2>
			<p>电话：027 - 845188888</p>
			<p>地址：武汉市汉阳钟家村</p>
			<p>菜系：西餐、披萨、牛排……</p>
			<p>
				<a href="#">喜欢</a>
				<a href="#">关注</a>
				<a href="#">推荐</a>
			</p>
		</div>
		
		<div class="shop_brief">
			<p><strong>公交：</strong>乘坐728/524到钟家村站下即可</p>
			<img src="images/map3.jpg" title="" alt="" />
			<p><strong>简介：</strong>著名西式餐饮品牌，隶属于世界上最大的餐厅集团系统百胜全球餐饮集团。“必胜客欢乐餐厅”以“欢乐、休闲、时尚、情趣、品位”为主题“必胜客欢乐餐厅”以“欢乐、休闲、时尚、情趣、品位”为主题“必胜客欢乐餐厅”以“欢乐、休闲、时尚、情趣、品位”为主题..</p>
		</div>
	</div><!--frame_l end-->
	
	<div class="frame_r">
		<div class="tab">
			<ul>
				<li class="cur"><a href="#">用户评论</a></li>
			</ul>
		</div>
		
		<div class="comment">
			<ul>
				<li>
					<a href="#"><img src="images/avatar2.png" title="" alt="" /></a>
					<p>茶餐厅环境还是不错的，就是里面的食品觉得一般，分量也很少，上菜速度比较慢,4个人4碗面，时间间隔差很久，先上来的都快吃完了，后面都还没端来。</p>
				</li>
				<li>
					<a href="#"><img src="images/avatar2.png" title="" alt="" /></a>
					<p>茶餐厅环境还是不错的，就是里面的食品觉得一般，分量也很少，上菜速度比较慢,4个人4碗面，时间间隔差很久，先上来的都快吃完了，后面都还没端来。</p>
				</li>
				<li>
					<a href="#"><img src="images/avatar2.png" title="" alt="" /></a>
					<p>茶餐厅环境还是不错的，就是里面的食品觉得一般，分量也很少，上菜速度比较慢,4个人4碗面，时间间隔差很久，先上来的都快吃完了，后面都还没端来。</p>
				</li>
				<li>
					<a href="#"><img src="images/avatar2.png" title="" alt="" /></a>
					<p>茶餐厅环境还是不错的，就是里面的食品觉得一般，分量也很少，上菜速度比较慢,4个人4碗面，时间间隔差很久，先上来的都快吃完了，后面都还没端来。</p>
				</li>
				<li>
					<a href="#"><img src="images/avatar2.png" title="" alt="" /></a>
					<p>茶餐厅环境还是不错的，就是里面的食品觉得一般，分量也很少，上菜速度比较慢,4个人4碗面，时间间隔差很久，先上来的都快吃完了，后面都还没端来。</p>
				</li>
				<li>
					<a href="#"><img src="images/avatar2.png" title="" alt="" /></a>
					<p>茶餐厅环境还是不错的，就是里面的食品觉得一般，分量也很少，上菜速度比较慢,4个人4碗面，时间间隔差很久，先上来的都快吃完了，后面都还没端来。</p>
				</li>
				<li>
					<a href="#"><img src="images/avatar2.png" title="" alt="" /></a>
					<p>茶餐厅环境还是不错的，就是里面的食品觉得一般，分量也很少，上菜速度比较慢,4个人4碗面，时间间隔差很久，先上来的都快吃完了，后面都还没端来。</p>
				</li>
				<li>
					<a href="#"><img src="images/avatar2.png" title="" alt="" /></a>
					<p>茶餐厅环境还是不错的，就是里面的食品觉得一般，分量也很少，上菜速度比较慢,4个人4碗面，时间间隔差很久，先上来的都快吃完了，后面都还没端来。</p>
				</li>

			</ul>
		</div>
		
		<div class="comment_page page">
			<ul>
				<li><a href="#"><<</a></li>
				<li class="cur"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">>></a></li>
			</ul>
		</div>
		
		<div class="post_comment">
			<textarea name="post_comment" class="post_comment"></textarea>
			<input type="submit" value="评论" class="btn_post" />
		</div>

	</div><!--frame_r end-->
</div>


</body>

</html>
