{% extends "base.html" %}
{% block title %}可可门 - 现在订餐还有好礼相送{% endblock %}
{% block import %}
<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
{% endblock %}
{% block mainbody %}
    <div class="main">
		<div class="content_l">
			<h1>现在订餐还有好礼相送</h1>
			<div class="article">
				<p>1.本次活动有效期：5月16号-5月29号</p>
				<p>2.一次性预订3天的午餐（不论价值多少），送价值5元的便携式餐具一套。例如：5月16号预订了16号,17号，18号的午餐。</p>
				<p>3.连续预订一周的午餐（不论价值多少），送价值16元的股骨瓷柄不锈钢筷子。例如：5月16号预订了16号，17号，18浩的午餐，5月19号预订了19号，20号的午餐。</p>
				<p><img src="/static/images/gift_detail.png" alt="好礼" title="好礼" /></p>
				<p>4.每周一中午（11:30-12:00），把上周应送出的礼品统一送达。本期活动礼品送出时间为：5月23号和5月30号。</p>
			</div>
		
		</div><!--content_l end-->
		
		<div class="content_r">
		
			<div class="content_box">
				<h3>还没有可可门账户?</h3>
				<div class="box_c">
					<p>立即<a href="/user/register/">注册</a>，只需10秒！</p>
				</div>
			</div>
			
			<div class="content_box">
				<h3>注册有哪些好处？</h3>
				<div class="box_c">
					<p>注册后，您可以定制您自己的专有菜单，订购成功后，我们会在每日11：30 -- 12：30将当日的菜单送达给您。</p>
				</div>
			</div>

		
		</div><!--content_r end-->
		
		
	</div><!--main end-->
{% endblock %}