{% extends "base.html" %}
{% block title %}可可门 - 订餐常见问题{% endblock %}
{% block import %}
<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
{% endblock %}
{% block mainbody %}
    <div class="main">
		<div class="content_l">
			<h1>玩转可可门，常见问题</h1>
			<div class="article">
				<p><strong>1.可可门是什么？</strong></p>
				<p>可可门每日提供三日内的午餐菜单供您选择，您下单后我们可以每日准时送餐上门。</p>
				<p><strong>2.如何点菜？</strong></p>
				<p>您登陆以后，选择好每日菜品，在购物车点击确认购买即可。</p>
				<p><strong>3.是否可以取消订单？</strong></p>
				<p>不可取消订单。如需取消订单，请致电:4000-1234-55</p>
				<p><strong>4.如何取餐</strong></p>
				<p>每日11:30-12:00会送餐上门。</p>
				<p><strong>5.如何付款，安全吗？</strong></p>
				<p>网站采用货到付款，不需要在网上支付，安全便捷。</p>
			</div>
		</div><!--content_l end-->
		
		<div class="content_r">
		
			<div class="content_box">
				<h3>还没有可可门账户?</h3>
				<div class="box_c">
					<p>立即<a href="/user/register/">注册</a>，只需10秒！</p>
				</div>
			</div>
			
			<div class="content_box">
				<h3>注册有哪些好处？</h3>
				<div class="box_c">
					<p>注册后，您可以定制您自己的专有菜单，订购成功后，我们会在每日11：30 -- 12：30将当日的菜单送达给您。</p>
				</div>
			</div>

		
		</div><!--content_r end-->
		
		
	</div><!--main end-->
{% endblock %}
