vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 May 2011 10:57:01 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|ZHANGCHEN-PC\\lenovo
vti_modifiedby:SR|ZHANGCHEN-PC\\lenovo
vti_timecreated:TR|06 May 2011 01:17:14 -0000
vti_nexttolasttimemodified:TW|17 May 2011 10:56:43 -0000
vti_backlinkinfo:VX|snake/find_pwd.html snake/user_order.html snake_new/gift.html snake_new/success_order.html snake/login.html snake_new/help.html snake/index.html snake/register.html
vti_cacheddtm:TX|17 May 2011 10:57:01 -0000
vti_filesize:IR|7290
vti_cachedlinkinfo:VX|S|../images/bg.png S|../images/bg_nav.png
vti_cachedsvcrellinks:VX|FSUS|snake_new/images/bg.png FSUS|snake_new/images/bg_nav.png
