@charset "utf-8";
.feed {
	clear:both;
	margin-bottom:10px;
	margin-top:10px;
}

.feed ul {
	background-color:#F7F6F1;
	border-radius:5px;
	box-shadow:1px 1px 3px #B4AAA0;
}

.feed ul li {
	padding:15px;
	border-bottom:1px solid #E1DCC8;
	border-top:1px solid #ffffff;
}

.feed ul li .follow {
	float:right;
}

.feed ul li .follow a {
	color:#ffffff;
	display:block;
	padding:4px 12px;
}

.feed ul li .follow a:hover {
	text-decoration:none;
}

.feed ul li .avatar {
	float:left;
}

.feed ul li .avatar img {
	border-radius:5px;
}

.feed ul li .goods_info {
	margin-left:65px;
	margin-top:-4px;
	font-size:14px;
}

.feed ul li .goods_info p {
	padding:4px 0;
}

.feed ul li .goods_info p.describe {
	color:#666666;
	font-style:italic;
}

.feed ul li .goods_info p.name {
	font-size:16px;
}

.feed ul li .goods_info p.user {
	font-size:16px;
	padding-bottom:0;
}
























