@charset "utf-8";

.food_wall{ border-radius:8px; box-shadow:1px 1px 3px #B4AAA0; margin:0 1px 15px; overflow:hidden;}
.food_wall ul{ width:1106px; height:158px; overflow:hidden;}
.food_wall li{ width:158px; height:158px; float:left; overflow:hidden; position:relative; background:#CCC;}
.food_wall img{ width:157px; height:157px;}
.food_wall p{ position:absolute; text-align:center; background: #000; color:#FFF; height:20px; border-radius:10px; line-height:20px; opacity:0.6; padding:0 10px; top:132px; left:8px;}
/*
.food_wall a:hover p{ top:132px; left:8px;}
*/

.search{ background:#F0EEE4; border-radius:8px; box-shadow:1px 1px 3px #B4AAA0; height:45px; line-height:45px; padding:0 10px 0 20px; margin-bottom:15px;}
.cart_btn{ float:right;}
.cart_btn li{ float:left; padding:0 8px;}
.cart_btn li a{ background:#FFF; border-radius:6px; box-shadow:1px 1px 3px #666; padding:6px 12px; font-size:14px;}
.cart_btn li a:hover{ text-decoration:none; background:#E7E7E7; color:#000;}
.search .input_border{ float:left; margin-top:7px; box-shadow:1px 1px 3px #B4AAA0;}
.search .input_text{ width:400px;}
.search .input_btn{ margin-left:8px; margin-top:8px; padding:4px 8px;}
/* content */
.index.item_box{ overflow:visible;}
.pic{ margin:15px; float:right;}
.pic_side{ width:380px; padding:15px 0 15px 15px;}
.have_buy{ background:url(../images/bg_have_buy.png) left bottom no-repeat; width:420px; height:29px; margin:0 0 10px -20px;}
.have_buy .label{ float:left; background:#96AF4B; color:#FFF; height:26px; line-height:26px; padding:0 10px 0 18px; font-style:italic;}
.have_buy .total{ line-height:29px;}
.have_buy ul{ float:left; padding-left:8px;}
.have_buy ul li{ float:left; width:35px; height:29px;}
.price{ color:#F30; font-size:30px;}
.posted{ font-size:14px; line-height:20px; color:#999; font-style:italic;}
.posted_by{ margin-top:40px;}
.posted_by .avatar{ float:left; padding-top:1px;}
.posted_by p{ padding-left:40px; line-height:15px; color:#999;}
.comments{ background:#F0EEE4; padding-top:0;}

.feed{ padding:15px; width:600px;}
.feed .avatar{ width:50px; height:50px; border-radius:5px; float:left;}
.goods_info{ font-size:14px; margin-left:65px; margin-top:-4px;}
.goods_info p{ padding:4px 0;}
.goods_info p.describe{ color:#666; font-style:italic;}
.goods_info p.user{ font-size:16px; padding-bottom:0;}
.goods_img{ width:200px; height:200px;}
/* side */
.welcome{ background:#196473; border-radius:5px; color:#F0F5EC; margin-bottom:10px; overflow:hidden; padding:11px 15px;}
.welcome h4{ font-size:16px; padding-bottom:5px;}
.welcome p{ line-height:20px;}
.side_login{ margin-bottom:10px;}
.side_login a{ border-radius:8px; color: #FFF; font-size:20px; padding:10px 50px;}
.activity img{ padding:3px 0;}


