{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{% block title %}{% endblock %}</title>
{% block import_head %}{% endblock %}
<!--[if ite IE6]>
	<link media="all" rel="stylesheet" href="/static/css/ie6.css" type="text/css" />
	<script src="js/pngFix.js" type="text/javascript"></script>
	<script type="text/javascript">
	  DD_belatedPNG.fix("*");
	</script>
	<![endif]-->
</head>

<body>
  <div id="header">
	<div class="head">
	  <ul class="user_panel">
		{% if user.is_authenticated %}
		<li><span><!-- {% trans "Logged in" %} -->欢迎您: <a href="/user/{{ user.id }}">{{ user.username }}</a></span></li>
        <li><a href="/user/{{ user.id }}/">个人主页</a></li>
		<li><a href="{% url auth_logout %}">{% trans "Log out" %}</a></li> 
		<!-- <li><a href="{% url auth_password_change %}">{% trans "Change password" %}</a></li>
        -->
        <li class="top_tooltip">您有一条新消息！</li>
		{% else %}
		<li><a href="{% url auth_login %}">{% trans "Log in" %}</a></li>
		<li><a href="{% url registration_register %}">注册</a></li>
		{% endif %}
	  </ul>
	  <h1><a href="{% url index %}">Kekemen.com</a></h1>
	  <ul class="nav">
		<li class="cur"><a href="{% url index %}">{% trans "Home" %}</a></li>
		<li><a href="/search/">搜&nbsp;索</a></li>
		<li><a href="#">达人榜</a></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="#">Apps</a></li>
	  </ul>
	</div>
  </div>
{% block container %}
{% endblock %}

<div id="footer">
	<p>© 2011 版权所有 可可门 鄂ICP备10017435号</p>
</div><!-- footer end -->

</body>
{% block import_body %}{% endblock %}
</html>
