{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="item_box">
{% if validlink %}
<h3>重置密码</h3>
<form method="post" action=".">
	<p>
	<label for="id_new_password1">新密码:</label> 
	<input type="password" class="input_text" id="id_new_password1" name="new_password1">
	<span>{{ form.new_password1.errors.as_text }}</span>
	</p>
	<p>
	<label for="id_new_password2">新密码确认:</label> 
	<input type="password" class="input_text" id="id_new_password2" name="new_password2">
	<span>{{ form.new_password2.errors.as_text }}</span>
	</p>
  <p class="btn_line"><input type="submit" class="input_btn" value="{% trans 'Submit' %}" /></p>
</form>

{% else %}
<h3>重置失败</h3>
<p>{% trans "Password reset failed" %}</p>

{% endif %}
</div>
{% endblock %}
