{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div id="container" class="clearfix">
<div class="content">
    <div id="user_info" class="item_box">                                                                        
    <h3>修改资料</h3>
    <form method="post" action=".">
      <p>
        <label for="id_old_password">旧密码:</label> 
        <input type="password" class='input_text' name="old_password" id="id_old_password" />
        <span class='error'>{{ form.old_password.errors.as_text }}</span>
      </p>
      <p>
        <label for="id_new_password1">新密码:</label> 
        <input type="password" class='input_text' name="new_password1" id="id_new_password1" />
        <span class='error'>{{ form.new_password1.errors.as_text }}</span>  
      </p>
      <p>
        <label for="id_new_password2">新密码确认:</label> 
        <input type="password" class='input_text' name="new_password2" id="id_new_password2" />
        <span class='error'>{{ form.new_password2.errors.as_text }}</span>
       </p>
      
        <p class="btn_line">                    
        <input type="submit" class="input_btn" value="{% trans 'Submit' %}" />
        <input class="input_btn" value="重置" type="reset"/>
        </p>
    </form>
    </div>
</div>
</div>
{% endblock %}
