{% extends "base.html" %}
{% block title %}可可门 - 注册{% endblock %}
{% block import %}
<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
<link rel="stylesheet" type="text/css" href="/static/css/login_regst.css" />
{% endblock %}
{% block mainbody %}
    <div class="main">
		<div class="content_l">
			<h1>注册<span> 或者 <a href="/user/login/">登录</a></span></h1>
            <form action="/user/register/" method="post">{% csrf_token %}
            {{ form.non_field_errors }}
            {% if form.errors.duplicateName %} 
                {{ form.errors.duplicateName }}
            {% endif %}
            {% if form.errors.duplicateEmail %}
                {{ form.errors.duplicateEmail }}
            {% endif %}
            {% if form.errors.unmatchPwd %}
                {{ form.errors.unmatchPwd }}
            {% endif %}
			<div class="login_register register">
				<p>
					<label for="user_name">用户名：</label>
                    {{ form.name }}
					<!-- <input type="text" id="user_name" name="user_name" class="input_text" /> -->
                    <span>4-16 个字符，一个汉字为两个字符</span>
                    {{ form.name.errors }}
				</p>
				<p>
					<label for="email">email：</label>
                     {{ form.email }}
					<!--<input type="text" id="email" name="user_name" class="input_text" /> --> 
                    <span>可选，找回密码时用，不会公开</span>
                     {{ form.email.errors }}
				</p>
				<p>
					<label for="pwd">密 码：</label>
                    {{ form.pwd }}
					<!-- <input type="text" id="pwd" name="pwd" class="input_text" /> -->
                    <span>最少 6 个字符</span>
                    {{ form.pwd.errors }}   
				</p>
				<p>
					<label for="confirm_pwd">确认密码：</label>
                    {{ form.confirm_pwd }}					
                    <!-- <input type="password" id="confirm_pwd" name="confirm_pwd" class="input_text" /> -->
                    {{ form.confirm_pwd.errors }}     
				</p>

				<p>
					<label for="place">所在位置：</label>
                    {{ form.regionID }}
                    {{ form.regionID.errors }}
                    <!--
					<select id="trade_area" class="trade_area">
						<option value="">中南路</option>
						<option value="">江汉路</option>
						<option value="">群光广场</option>
						<option value="">钟家村</option>
					</select>
					<select id="office_build" class="office_build">
						<option value="">中建广场</option>
						<option value="">鹏程国际</option>
						<option value="">群光广场</option>
						<option value="">钟家村</option>
					</select>
                    -->
				</p>
				<p style="clear:both;"><input type="submit" value="注册" class="input_btn btn_login" /></p>
			</div>
		    </div><!--content_l end-->
	    </form>	
        
		<div class="content_r">
		
			<div class="content_box">
				<h3>已有可可门账户?</h3>
				<div class="box_c">
					<p><a href="/user/login/">立即登录</a></p>
				</div>
			</div>
			
			<div class="content_box">
				<h3>注册有哪些好处？</h3>
				<div class="box_c">
					<p>注册后，您可以定制您自己的专有菜单，订购成功后，我们会在每日11：30 -- 12：30将当日的菜单送达给您。</p>
				</div>
			</div>

		
		</div><!--content_r end-->
		
	</div><!--main end-->
{% endblock %}
