vti_encoding:SR|utf8-nl
vti_author:SR|ZHANGCHEN-PC\\lenovo
vti_modifiedby:SR|ZHANGCHEN-PC\\lenovo
vti_timelastmodified:TR|03 May 2011 05:55:25 -0000
vti_timecreated:TR|24 Apr 2011 02:39:47 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|search.html user_follow.html cart.html page_prototyep_20110425/search.html page_prototyep_20110425/shop_index.html page_prototyep_20110425/user_follow.html user_index.html page_prototyep_20110425/cart.html page_prototyep_20110425/user_index.html frame_order.html shop_index2.html index.html shop_index.html page_prototyep_20110425/index.html frame_goods_info.html frame_shop_info.html
vti_nexttolasttimemodified:TW|03 May 2011 05:55:18 -0000
vti_cacheddtm:TX|03 May 2011 05:55:25 -0000
vti_filesize:IR|5688
