vti_encoding:SR|utf8-nl
vti_author:SR|ZHANGCHEN-PC\\lenovo
vti_modifiedby:SR|ZHANGCHEN-PC\\lenovo
vti_timelastmodified:TR|24 Apr 2011 12:58:00 -0000
vti_timecreated:TR|24 Apr 2011 09:05:42 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|search.html page_prototyep_20110425/search.html
vti_nexttolasttimemodified:TW|24 Apr 2011 12:55:44 -0000
vti_cacheddtm:TX|24 Apr 2011 12:58:00 -0000
vti_filesize:IR|2157
