vti_encoding:SR|utf8-nl
vti_author:SR|ZHANGCHEN-PC\\lenovo
vti_modifiedby:SR|ZHANGCHEN-PC\\lenovo
vti_timelastmodified:TR|24 Apr 2011 13:28:53 -0000
vti_timecreated:TR|24 Apr 2011 12:53:20 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|24 Apr 2011 13:28:39 -0000
vti_cacheddtm:TX|24 Apr 2011 13:28:53 -0000
vti_filesize:IR|60
